// Portfolio section
.portfolio-section {
    display: grid;
    margin: 0 25rem;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    grid-gap: 4rem;
    transition: all 1s ease;
}

.work-name {
    opacity: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    cursor: pointer;
    transition: .5s ease;
    background-color: $color-highlight;
    border-radius: 2rem;
    text-align: center;
    text-transform: capitalize;
    .text {
        position: absolute;
        top: 50%;
        left: 50%;
        color: black;
        transform: translate(-50%, -50%);
        font-size: 3rem;
        font-family: 'Poppins', sans-serif;
        font-weight: lighter;
    }
}

.work-item {
    position: relative;
    &:hover {
        .work-name {
            opacity: 0.6;
        }
    }
    img {
        width: 100%;
        align-content: center;
        height: 100%;
        border-radius: 2rem;
    }
}

@media only screen and (max-width: $breakpoint-custom) {
    .portfolio-section {
        width: 80%;
        margin: auto;
        margin-top: 2rem;
        padding: 3rem;
        grid-template-columns: 1fr;
    }
}