// Portfolio section
.portfolio-section {
    display: grid;
    margin: 0 25rem;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    grid-gap: 4rem;
    transition: all 1s ease;
}

.work-name {
    opacity: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    cursor: pointer;
    transition: .5s ease;
    background-color: $color-highlight;
    border-radius: 2rem;
    text-align: center;
    text-transform: capitalize;

    .text {
        position: absolute;
        top: 50%;
        left: 50%;
        color: black;
        transform: translate(-50%, -50%);
        font-size: 3rem;
        font-family: 'Poppins', sans-serif;
        font-weight: lighter;
    }
}

.work-item {
    position: relative;

    &:hover {
        .work-name {
            opacity: 0.6;
        }
    }

    img {
        width: 100%;
        align-content: center;
        height: 100%;
        border-radius: 2rem;
    }
}

//Modal Section
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 20rem;
    left: 0;
    top: 0;
    width: 100%;
    margin: auto;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);

}

/* Modal Content */
.modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $dark-color;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
    border-radius: 2rem;
    color: white;
    border: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;

    h1 {
        color: $color-highlight;
        text-transform: uppercase;
        text-align: center;
        font-size: 3rem;
        padding: 2rem 0;
        font-family: 'Poppins', sans-serif;
    }

    img {
        width: 90%;
        margin: 2rem auto;
        border-radius: 2rem;
    }

    p {
        font-size: 1.5rem;
        display: block;
        width: 90%;
        margin: auto;
        font-size: large;
        font-weight: bolder;
        line-height: 3rem;

        i {
            padding: 0 1rem;
        }

        a {
            color: $color-highlight;
            text-decoration: underline;
        }

        span {
            font-weight: normal;
        }
    }

}

/* The Close Button */
.close {
    position: absolute;
    color: #aaaaaa;
    //background-color: red;
    font-size: 5rem;
    font-weight: bold;
    padding: 0;
    top: 0%;
    right: 5%;


}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


@media only screen and (max-width: $breakpoint-custom) {
    .portfolio-section {
        width: 80%;
        margin: auto;
        margin-top: 2rem;
        padding: 3rem;
        grid-template-columns: 1fr;
    }

    .modal-content {
        width: 90%;

    }
}