//Side color
.color-block {
    background-color: $color-highlight;
    position: fixed;
    height: 200%;
    width: 100%;
    transform: rotate(-15deg);
    left: -83%;
    top: -50%;
    z-index: 1;
}

//Navigation List
.head-list h2 {
    opacity: 0;
}

.head-list {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    height: 100%;
    justify-content: center;
    position: fixed;
    right: 20px;
    top: 5px;
    list-style: none;
    margin-right: 2rem;
}

.icon-box {
    background-color: $dark-color;
    margin: 2rem;
    display: block;
    border-radius: 30px;
    height: 5rem;
    width: 5rem;
    position: relative;
    cursor: pointer;
    z-index: 2;

    i {
        font-size: 2rem;
        position: absolute;
        top: 50%;
        right: 50%;
        transform: translate(50%, -50%);
        transition: all 1s ease;
    }


    &:hover {
        border-radius: 0 10rem 10rem 0;
        background-color: $color-highlight;

        .link-text {
            opacity: 1;
        }
    }
}

.icon-box h2 {
    opacity: 0;
    background-color: $color-highlight;
    color: white;
    position: absolute;
    right: 100%;
    top: 50%;
    transform: translateY(-50%);
    text-transform: uppercase;
    height: 5rem;
    padding: 1rem;
    padding-left: 2rem;
    text-align: center;
    font-size: 2rem;
    border-radius: 10rem 0 0 10rem;
    font-family: 'Poppins', sans-serif, verdana;
}

//Main Section
.hero {
    padding: 2.8rem;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    background-color: $background-dark;
    color: white;
}

.hero-image {
    flex: 1 1 20rem;
    border-radius: 20px;
    z-index: 2;
}

.hero-mayank-image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    height: calc(100vh - 60px);
    border-radius: 15px;
    left: 30px;
    top: 30px;
    box-shadow: 0 0 7px rgba(0, 0, 0, .9);
}

.hero-content {
    flex: 3 1 20rem;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    margin-left: 10%;
    margin-right: 20%;
    line-height: 6rem;
    font-family: 'Poppins', sans-serif, verdana;

    span {
        color: white;
    }

    h6 {
        font-size: 2.6rem;
        text-transform: uppercase;
        font-weight: lighter;
    }

    h1 {
        font-size: $index-heading;
        text-transform: uppercase;
        font-family: sans-serif;
        color: $color-highlight;
        letter-spacing: 0.4rem;
    }

    p {
        font-size: $index-p;
        line-height: 3.2rem;
        width: 100%;
        margin-right: 30%;
        padding: 2rem 0rem;
    }
}

.index-button {
    background-color: $color-highlight;
    border-radius: 3rem;
    border: none;
    padding: 1.6rem 1rem;
    width: 20rem;
    font-size: 1.6rem;
    margin: 2rem;
    cursor: pointer;
    font-weight: bolder;
    text-transform: uppercase;

    &:hover {
        overflow: hidden;
        transition: all 0.5s ease-in-out;
        box-shadow: 0px 2px 8px white;
    }
}


.head-list a {
    display: block;
}