/* Global variables*/
@import url("https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Poppins:wght@900&family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #111111;
  color: white;
}

html {
  font-size: 62.5%;
}

.active {
  background-color: #ffb400 !important;
}

.active-nav {
  color: #ffb400 !important;
}

.color-block {
  background-color: #ffb400;
  position: fixed;
  height: 200%;
  width: 100%;
  -webkit-transform: rotate(-15deg);
          transform: rotate(-15deg);
  left: -83%;
  top: -50%;
  z-index: 1;
}

.hero {
  padding: 2.8rem;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.hero-image {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
  border-radius: 20px;
  z-index: 2;
}

.hero-mayank-image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  height: calc(100vh - 60px);
  width: 100%;
  border-radius: 15px;
  left: 30px;
  top: 30px;
  -webkit-box-shadow: 0 0 7px rgba(0, 0, 0, 0.9);
          box-shadow: 0 0 7px rgba(0, 0, 0, 0.9);
}

.hero-content {
  -webkit-box-flex: 2;
      -ms-flex: 2 1 20rem;
          flex: 2 1 20rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 10%;
  margin-right: 20%;
  line-height: 5rem;
  font-family: 'Poppins', sans-serif, verdana;
}

.hero-content span {
  color: white;
}

.hero-content h6 {
  font-size: 2.6rem;
  text-transform: uppercase;
  font-weight: lighter;
}

.hero-content h1 {
  font-size: 4rem;
  text-transform: uppercase;
  font-family: sans-serif;
  color: #ffb400;
  letter-spacing: 0.2rem;
}

.hero-content p {
  font-size: 1.7rem;
  font-family: sans-serif;
  line-height: 3.3rem;
  width: 100%;
  margin-right: 30%;
  padding: 2rem 0rem;
}

.index-button {
  background-color: #ffb400;
  color: #252525;
  border-radius: 3rem;
  border: none;
  padding: 1.6rem 1rem;
  width: 20rem;
  font-size: 1.6rem;
  margin: 2rem;
  cursor: pointer;
  font-weight: bolder;
  text-transform: uppercase;
}

.index-button:hover {
  overflow: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-box-shadow: 0px 2px 8px rgba(194, 185, 185, 0.26);
          box-shadow: 0px 2px 8px rgba(194, 185, 185, 0.26);
}

.head-list a {
  display: block;
}

.head-list h2 {
  opacity: 0;
}

.nav-link {
  text-decoration: none;
  color: white;
}

.head-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-decoration: none;
  min-height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  right: 20px;
  top: 5px;
  list-style: none;
  margin-right: 2rem;
}

.icon-box {
  background-color: #252525;
  margin: 2rem;
  display: block;
  border-radius: 30px;
  min-height: 5rem;
  width: 5rem;
  position: relative;
  cursor: pointer;
  z-index: 2;
}

.icon-box i {
  font-size: 2rem;
  position: absolute;
  top: 50%;
  right: 50%;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
}

.icon-box:hover {
  border-radius: 0 10rem 10rem 0;
  background-color: #ffb400;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.icon-box:hover .link-text {
  opacity: 1;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.icon-box h2 {
  opacity: 0;
  background-color: #ffb400;
  color: white;
  position: absolute;
  right: 100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  text-transform: uppercase;
  height: 5rem;
  padding: 1rem;
  padding-left: 2rem;
  text-align: center;
  font-size: 2rem;
  border-radius: 10rem 0 0 10rem;
  font-family: 'Poppins', sans-serif, verdana;
}

.nav-links-ul {
  display: none;
}

a {
  text-decoration: none;
  color: white;
}

.heading-section {
  margin-bottom: 1rem;
  width: 100%;
  min-height: 25vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.big-heading {
  font-size: 13rem;
  width: 100%;
  height: 100%;
  text-transform: uppercase;
  letter-spacing: 1rem;
  text-align: center;
  font-family: 'Akaya Telivigala', cursive;
  font-weight: bolder;
  color: #f8f9fa;
  padding: 1rem;
  opacity: 0.1;
  position: relative;
}

.small-heading {
  position: absolute;
  top: 50%;
  left: 50%;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  font-size: 5rem;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-weight: bolder;
  letter-spacing: 0.5rem;
}

.small-heading span {
  color: #ffb400;
}

.contact-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem;
  width: 90%;
  margin: auto;
  font-family: 'Roboto', sans-serif;
}

.contact-content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-right: 3rem;
}

.contact-content h3 {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: bolder;
}

.intro {
  font-size: 1.5rem;
  padding: 2rem 1rem 2rem 0;
  line-height: 2.5rem;
}

.custom-span-contact {
  position: relative;
}

.custom-span-contact i {
  font-size: 3.2rem;
  color: #ffb400;
  padding: 1rem;
  margin: auto;
}

.mail {
  position: absolute;
  left: 10%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 1.5rem;
  margin-left: 1rem;
  padding-left: 1rem;
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  padding: 2rem;
  font-size: 2rem;
}

.social-list a {
  text-decoration: none;
  color: white;
}

.social-list li {
  background-color: #252525;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  padding: 1rem;
  position: relative;
  cursor: pointer;
}

.social-list li:hover {
  background-color: #ffb400;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.social-list i {
  font-size: 2rem;
  position: absolute;
  top: 50%;
  right: 50%;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
}

.contact {
  -webkit-box-flex: 2;
      -ms-flex: 2 1;
          flex: 2 1;
}

.contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 10rem;
  font-family: 'Roboto';
}

.contact-form textarea {
  background-color: #252525;
  border: none;
  padding: 1.5rem;
  border-radius: 30px;
  margin: 2rem 0;
  color: white;
  border: 1px solid transparent;
}

.contact-form textarea:hover {
  border: 1px solid #ffb400;
}

.inputs {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.inputs input {
  background-color: #252525;
  border: none;
  margin: 1rem;
  padding: 1.5rem;
  width: 33%;
  border-radius: 25px;
  color: white;
  border: 1px solid transparent;
}

.inputs input:hover {
  border: 1px solid #ffb400;
}

@media only screen and (max-width: 1033px) {
  * {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .heading-section {
    min-height: 15vh;
    background-color: #252525;
    position: relative;
  }
  .big-heading {
    display: none;
  }
  .small-heading {
    position: absolute;
    top: 50%;
    left: 5%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    font-size: 300%;
    letter-spacing: 0;
  }
  .hamburger-other {
    position: absolute;
    top: 50%;
    right: 10%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    cursor: pointer;
    z-index: 5;
  }
  .contact-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 95%;
    margin: auto;
  }
  .contact-form {
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .inputs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .inputs input {
    width: 100%;
  }
  .contact {
    width: 100%;
  }
}

.portfolio-section {
  display: -ms-grid;
  display: grid;
  margin: 0 25rem;
  -ms-grid-columns: (minmax(30rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  grid-gap: 4rem;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.portfolio-page-heading {
  width: 70%;
  margin: auto;
  text-align: center;
  text-transform: uppercase;
  margin-top: 2rem;
  margin-bottom: 3rem;
  font-family: 'Poppins', sans-serif;
  font-size: 3rem;
}

.highlight {
  color: #ffb400;
}

.work-name {
  opacity: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  cursor: pointer;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  background-color: #ffb400;
  border-radius: 2rem;
  text-align: center;
  text-transform: capitalize;
}

.work-name .text {
  position: absolute;
  top: 50%;
  left: 50%;
  color: black;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 3rem;
  font-family: 'Poppins', sans-serif;
  font-weight: lighter;
}

.work-item {
  position: relative;
}

.work-item:hover .work-name {
  opacity: 0.6;
}

.work-item img {
  width: 100%;
  -ms-flex-line-pack: center;
      align-content: center;
  height: 100%;
  border-radius: 2rem;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 20rem;
  left: 0;
  top: 0;
  width: 100%;
  margin: auto;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content */
.modal-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #252525;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
  border-radius: 2rem;
  color: white;
  border: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  position: relative;
}

.modal-content h1 {
  color: #ffb400;
  text-transform: uppercase;
  text-align: center;
  font-size: 3rem;
  padding: 2rem 0;
  font-family: 'Poppins', sans-serif;
}

.modal-content img {
  width: 90%;
  margin: 2rem auto;
  border-radius: 2rem;
}

.modal-content p {
  font-size: 1.5rem;
  display: block;
  width: 90%;
  margin: auto;
  font-size: large;
  font-weight: bolder;
  line-height: 3rem;
}

.modal-content p i {
  padding: 0 1rem;
}

.modal-content p a {
  color: #ffb400;
  text-decoration: underline;
}

.modal-content p span {
  font-weight: normal;
}

/* The Close Button */
.close {
  position: absolute;
  color: #aaaaaa;
  font-size: 5rem;
  font-weight: bold;
  padding: 0;
  top: 0%;
  right: 5%;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

@media only screen and (max-width: 1033px) {
  .portfolio-section {
    width: 80%;
    margin: auto;
    margin-top: 1rem;
    padding: 3rem;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .modal-content {
    width: 90%;
  }
}

.section-heading {
  text-transform: uppercase;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bolder;
  font-size: 2.5rem;
  text-align: center;
  margin: 2rem 0;
}

.experience-section,
.skill-section,
.personal-info {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(30rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  grid-gap: 2rem;
  margin: 3rem auto;
  width: 80%;
  justify-items: start;
  grid-auto-flow: row;
}

.exp-items {
  margin: 2rem 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.icon {
  background-color: #ffb400;
  height: 4rem;
  min-width: 4rem;
  border-radius: 50%;
  position: relative;
}

.icon-line {
  background-color: #f8f9fa;
  width: 1px;
  height: 4rem;
  position: absolute;
  top: 100%;
  left: 50%;
}

.icon i {
  font-size: 1.5rem;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.content {
  margin: 0 1rem;
  font-size: 1.5rem;
  line-height: 2.5rem;
}

.content .c-1 {
  font-family: sans-serif;
  font-weight: bolder;
  font-size: 1.2rem;
  background-color: #252525;
  display: inline-block;
  padding: 0 2rem;
  margin-bottom: 1rem;
  border: 2px solid #252525;
  border-radius: 10rem 10rem 10rem 10rem;
}

.content .c-2 {
  font-family: sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 1rem;
}

.content .c-3 {
  font-family: 'Roboto', sans-serif;
}

.col-1,
.col-2 {
  width: 100%;
}

.skill-items {
  list-style: none;
  margin-bottom: 5rem;
}

.meter {
  height: 2rem;
  background: #252525;
  border-radius: 25px;
  padding: 10px;
  width: 90%;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  position: relative;
}

.meter p {
  color: white;
  font-family: sans-serif;
  text-transform: uppercase;
  font-weight: bolder;
  padding: 1rem 0;
  font-size: 1.5rem;
  width: 100%;
  position: absolute;
  top: -200%;
}

.meter span {
  background-color: #ffb400;
  height: 2rem;
  position: absolute;
  top: 0%;
  left: 0%;
  border-radius: 25px;
}

.info,
.stats {
  width: 90%;
  margin: auto;
  font-size: 1.7rem;
}

.stats {
  text-align: center;
}

.stats img {
  width: 40rem;
  height: 40rem;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 7px rgba(0, 0, 0, 0.9);
          box-shadow: 0 0 7px rgba(0, 0, 0, 0.9);
}

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 2rem;
}

.column-1,
.column-2 {
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
  font-family: verdana, sans-serif;
}

.column-1 li,
.column-2 li {
  list-style: none;
  padding: 1rem 0;
  margin-right: 2rem;
}

.title-value {
  font-weight: bolder;
}

@media only screen and (max-width: 992px) {
  .stats img {
    display: none;
  }
}

@media only screen and (max-width: 1033px) {
  .line {
    width: 30px;
    height: 3px;
    background-color: white;
    margin: 5px;
  }
  .hamburger {
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 5%;
    z-index: 2;
    background-color: #252525;
    padding: 1rem;
    border-radius: 1rem;
    z-index: 4;
  }
  .nav-links {
    padding-top: 3rem;
    position: fixed;
    background-color: #252525;
    height: 100vh;
    width: 100%;
    z-index: 3;
    clip-path: circle(100px at 90% -20%);
    -webkit-clip-path: circle(100px at 90% -20%);
    -webkit-transition: all 1s ease-out;
    transition: all 1s ease-out;
    pointer-events: none;
  }
  .nav-links.open {
    clip-path: circle(1500px at 90% -10%);
    -webkit-clip-path: circle(1500px at 90% -10%);
    pointer-events: all;
  }
  .nav-links-ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    list-style: none;
    margin: 2rem;
    padding: 1rem;
    -webkit-transition: all 1s ease-out;
    transition: all 1s ease-out;
  }
  .nav-links-ul a {
    padding: 2rem;
    width: 80%;
    text-decoration: none;
    color: white;
    font-size: 2rem;
    font-family: 'Poppins';
    border-bottom: 1px solid #f8f9fa;
    text-transform: uppercase;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-weight: bold;
  }
  .nav-links-ul a i {
    margin: 0 1rem;
  }
  .hero {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: cenetr;
        -ms-flex-pack: cenetr;
            justify-content: cenetr;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
    margin: 0;
  }
  .hero-mayank-image {
    border-radius: 50%;
    width: 30rem;
    height: 30rem;
    border: 4px solid #252525;
    margin: 0;
    margin-top: 5rem;
  }
  .color-block {
    display: none;
    margin: 0;
    padding: 0;
  }
  .hero-image {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 20rem;
            flex: 1 1 20rem;
    padding: 0;
    margin: 0;
  }
  .header {
    display: none;
  }
  .hero-content {
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0;
    padding: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hero-content p {
    margin: 1rem 0 2.3rem;
    padding: 0 2rem;
    font-size: 160%;
  }
}
/*# sourceMappingURL=style.css.map */