/* Global variables*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.active {
  background-color: #ffb400 !important;
}

.color-block {
  background-color: #ffb400;
  position: fixed;
  height: 200%;
  width: 100%;
  -webkit-transform: rotate(-15deg);
          transform: rotate(-15deg);
  left: -83%;
  top: -50%;
  z-index: 1;
}

.head-list h2 {
  opacity: 0;
}

.head-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-decoration: none;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  right: 20px;
  top: 5px;
  list-style: none;
  margin-right: 2rem;
}

.icon-box {
  background-color: #343a40;
  margin: 2rem;
  display: block;
  border-radius: 30px;
  height: 5rem;
  width: 5rem;
  position: relative;
  cursor: pointer;
  z-index: 2;
}

.icon-box i {
  font-size: 2rem;
  position: absolute;
  top: 50%;
  right: 50%;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.icon-box:hover {
  border-radius: 0 10rem 10rem 0;
  background-color: #ffb400;
}

.icon-box:hover .link-text {
  opacity: 1;
}

.icon-box h2 {
  opacity: 0;
  background-color: #ffb400;
  color: white;
  position: absolute;
  right: 100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  text-transform: uppercase;
  height: 5rem;
  padding: 1rem;
  padding-left: 2rem;
  text-align: center;
  font-size: 2rem;
  border-radius: 10rem 0 0 10rem;
  font-family: 'Poppins', sans-serif, verdana;
}

.hero {
  padding: 2.8rem;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #111111;
  color: white;
}

.hero-image {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 20rem;
          flex: 1 1 20rem;
  border-radius: 20px;
  z-index: 2;
}

.hero-mayank-image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  height: calc(100vh - 60px);
  border-radius: 15px;
  left: 30px;
  top: 30px;
  -webkit-box-shadow: 0 0 7px rgba(0, 0, 0, 0.9);
          box-shadow: 0 0 7px rgba(0, 0, 0, 0.9);
}

.hero-content {
  -webkit-box-flex: 3;
      -ms-flex: 3 1 20rem;
          flex: 3 1 20rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 10%;
  margin-right: 20%;
  line-height: 6rem;
  font-family: 'Poppins', sans-serif, verdana;
}

.hero-content span {
  color: white;
}

.hero-content h6 {
  font-size: 2.6rem;
  text-transform: uppercase;
  font-weight: lighter;
}

.hero-content h1 {
  font-size: 4rem;
  text-transform: uppercase;
  font-family: sans-serif;
  color: #ffb400;
  letter-spacing: 0.4rem;
}

.hero-content p {
  font-size: 1.5rem;
  line-height: 3.2rem;
  width: 100%;
  margin-right: 30%;
  padding: 2rem 0rem;
}

.index-button {
  background-color: #ffb400;
  border-radius: 3rem;
  border: none;
  padding: 1.6rem 1rem;
  width: 20rem;
  font-size: 1.6rem;
  margin: 2rem;
  cursor: pointer;
  font-weight: bolder;
  text-transform: uppercase;
}

.index-button:hover {
  overflow: hidden;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-box-shadow: 0px 2px 8px white;
          box-shadow: 0px 2px 8px white;
}

.head-list a {
  display: block;
}
/*# sourceMappingURL=style.css.map */